
body{background-color: rgb(248, 200, 74);}


#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;}

  #menu_button {
    color: black;
    text-decoration: none;
    display: inline;
    padding: 0 10px;}

 h1 {
    text-align: center;
    color: black;
    font-size: 160px;
    font-family: "Red_Rose";}

h2 {
    font-family: "Red_Rose";
    font-size: 18px;
    text-align: center;
    line-height: 1.3em;
    color: rgb(47,46,46,);}

#about_us {
    text-align: right;}

#text1 {
    display: block;
    text-align: center;
    font-size: 28px;
    color:rgb(51 176 96);}

#text2 {
    text-align: center;
    color: rgb(51 176 96);
    font-size: 95px;}

#lista1 {
    list-style-type: none;}

#foto_de_mate {
    width: 490px;
    height: 825px;
    object-fit: cover;
    object-position: 50% 50%;}

#section1 {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    min-width: 980px;
    left: 0;
    margin-left: 0;
    width: 100%;
    display: block;
}



